<div class="cocktails">
  <h2>My cocktails</h2>
  <div class="container">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail">
      <%= link_to cocktail, class: "link-decoration-none" do %>
      <%= render 'partials/cocktail_item', cocktail: cocktail %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
