
<div class="container">
  <p>Add dose</p>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.input :description %>
      </div>
      <div class="col-sm-12">
        <%= f.association :ingredient %>
      </div>
      <div class="col-sm-12">
        <%= f.button :submit %>
      </div>
    </div>
    <% end %>
</div>
