// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktails {
  padding: 20px 0;
  padding-bottom: 60px;
  h2 {
    margin: 55px 0;
  }
}
.cocktail {
}
.cocktail-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cocktail-item {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  text-align: center;
  justify-content: center;
}
.cocktail-img {
  // border-radius: 50%;
  text-align: center;
  img {
    border-radius: 50%;
    box-shadow: 8px 8px 10px #aaa;
  }
}
.cocktail-body {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-bottom: 50px;
  width: 100%;
}
.cocktail-subtitle {
  padding: 20px;
  font-style: italic;
  font-size: 2em;
}
.cocktail-title {
  margin-left: 30px;
}

@media (min-width: $screen-md) {
  .cocktail-item {
    justify-content: flex-start;
  }
}

.small-margin-left {
  margin-left: 5px;
}
.big-margin-left {

}

.dose {
  display: flex;
  margin-right: 50px;
  width: 100%;
  justify-content: space-between;
}
.dose-new {
  width: 100%;
  .container {
    width: 100%;
  }
}
.dose-delete a {
  align-self: flex-end;
}
.ingredient-img {
  width: 30px;
  height: 30px;
}
